*,
*::after,
*::before {
  box-sizing: border-box;
}

.wrapper {
  background-image: url(../image/bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
}
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  margin-bottom: 166px;
}
.menu {
  display: flex;
  /* padding: 36px 0; */
}
.menu__list + .menu__list {
  margin-left: 30px;
}
.menu__link {
  transition: color .5s ease;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
}
.menu__link:hover {
  color: rgb(0 227 255 / 89%);
}

.slider {
  text-align: center;
}
.title {
  font-family: sans-serif;
  font-size: 96px;
  line-height: 112px;
}
.subtitle {
  font-family: sans-serif;
  line-height: 28px;
  font-size: 24px;
}
.slick-dots {
  margin-top: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.slick-dots li + li {
  margin-left: 16px;
}
.slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: #7A3D1C;
  border: 2px solid #FDD486;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}